.explorePage {
    width: 411px;
    margin: 0px;
    padding: 0px;
}

.exploreCarousel {
    width: 411px;
    height: 216px;
    margin: 0px;
    padding: 0px;
}

.exploreCarousel .rec-carousel-item {
    margin: 0px;
    width: 100%;
}

.centered {
    /* position: relative; */
    top: 202px;
    left: 411px;
    transform: translate(-50%, -50%);
    color: black;
}

.exploreCarouselButton {
    width: 411px;
    margin: auto;
    position: absolute;
    /* top: 234px;
    left: 627px; */
}

.exploreCarouselImage {
    width: 411px;
    height: 216px;
}

.exploreCarousel .rec-slider-container {
    margin: 0px;
    width: 411px;
}

.bookCategory {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: 900;
    opacity: 0.8;
    text-align: left;
}

.exploreItem {
    width: 160.56px;
    height: 170.29px;
    /* opacity: 0.4; */
    background-color: rgba(250, 189, 209, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center ;
}

.exploreItem > img {
    width: 108px;
    height: 158px;
    border-radius: 8px;
    margin: auto;
}